@media all and (max-width: 767px) {

    /* ---- Propriétés Générales ---- */

    /*-- Les variables --*/

    $violet:#9356dc;
    $rose:#ff79da;
    $menthe:#99e2d0;
    $gris:#f6f6f6;

    /*-- Les mixins --*/

    @mixin ombre-bord-interieur {
        box-shadow: 0px 3px 3px darken($gris, 15%) inset;
    }

    @mixin ombre-bords-exterieurs($couleur) {
        box-shadow: 0px 5px 10px $couleur;
    }

    @mixin dimensions($largeur, $hauteur) {
        width: $largeur; 
        height: $hauteur;
    }

    @mixin marges-interieures($haut, $bas, $gauche, $droite) {
        padding-top: $haut;
        padding-bottom: $bas;
        padding-left: $gauche;
        padding-right: $droite;
    }

    @mixin marges-exterieures($haut, $bas, $gauche, $droite) {
        margin-top: $haut;
        margin-bottom: $bas;
        margin-left: $gauche;
        margin-right: $droite;
    }

    @mixin syntaxe-roboto($taille, $type) {
        font-family: 'Roboto', sans-serif;
        font-size: $taille;
        font-weight: $type;
    }

    /*-- Introduction du loader --*/

    @import "animations/loader"; 

    .page{
        animation: opacite 3000ms linear;
        animation-fill-mode: forwards;

        @keyframes opacite{
            0%{
                opacity: 1;
            }
        
            95%{
                opacity: 1;
            }
        
            100%{
                opacity: 0;
            }
        }
    }

    /*-- La syntaxe --*/

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    h1 {
        @include syntaxe-roboto(28px, bold);
    }

    h2 {
        @include syntaxe-roboto(20px, normal);
    }

    h3 {
        @include syntaxe-roboto(16px, bold);
    }

    h4 {
        @include syntaxe-roboto(19px, bold);
    }

    h5 {
        @include syntaxe-roboto(18px, normal);
    }

    h6 {
        @include syntaxe-roboto(16px, normal);
    }

    @import "animations/translations_accueil";

    /* ---- Mise en forme de la première partie ---- */


    /*-- Organisation de l'ensemble logo/balise de recherche --*/

    .en-tete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;
        
        &_dimensions {
            @include dimensions(100%, 110px);
        }
    }

    /*-- Gestion du logo Ohmyfood --*/

    .logo {
        display: flex;
        justify-content: center;
    
        &_dimensions {
            @include dimensions(100%, 35px);
        }
    
        &_marges {
            @include marges-interieures(10px, 10px, 10px, 0px);
        }
    }

    /*-- Gestion de la balise de recherche de lieu --*/

    .lieu {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 18px;
        @include marges-interieures(0px, 0px, 20%, 0px);

        &_dimensions {
            @include dimensions(100%, 50px);
        }

        &_contour {
            @include ombre-bord-interieur;
        }

        &_fond {
            background-color: darken($gris, 5%);
        }

        &_lettre {
            color: darken($gris, 75%);
            background-color: darken($gris, 5%);
            border: none;
            @include syntaxe-roboto(18px, bold);
        }

        &_symbole {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: darken($gris, 5%);
            color: darken($gris, 75%);
            font-size: 20px;
        }
    }

    /* ---- Mise en forme de la deuxième partie ---- */

    /*-- Les titres --*/

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(100%, 320px);
        }

        &_marges {
            @include marges-interieures(5px, 50px, 0px, 0px);
        }

        &_aspect {
            background-color: $gris;
            row-gap: 20px;
        }
    }

    .introduction-titre {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(90%, 80px);
        }

        &_aspect {
            background-color: $gris;
            text-align: center;
        }
    }

    .introduction-sous-titre {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(100%, 50px);
        }

        &_aspect {
            background-color: $gris;
            text-align: center;
        }
    }

    /*-- La balise de recherche --*/

    .Exploration {
        display: flex;
        justify-content: center;
        align-items: center;
    
        &_dimensions {
            @include dimensions(65%, 50px);
        }
    
        &_marges {
            @include marges-exterieures(30px, 0px, 0px, 0px);
        }
    
        &_aspect {
            @include syntaxe-roboto(18px, bold);
            color: white;
            border-radius: 100px;
            background: linear-gradient(to bottom right, $rose, $violet);
            @include ombre-bords-exterieurs(darken($gris, 25%));
            cursor: pointer;
        }
    
        &:hover >.bouton-animation { 
          opacity: 1;
        } 
    }
    
    .bouton-animation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        transition: all 550ms; /* durée de l'aller et du retour de la translation de la banderole */
    
        &_dimensions {
          @include dimensions(63%, 50px);
        }
    
        &_aspect {
          @include syntaxe-roboto(18px, bold);
          color: white;
          border-radius: 100px;
          @include ombre-bords-exterieurs(darken($gris, 25%));
          filter: brightness(110%);
          background: linear-gradient(to bottom right, $rose, $violet);
          opacity: 0;
        }
    }

    /*-- Les filtres --*/

    .Fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &_dimensions{
            @include dimensions(100%, 530px);
        }
        &_marges{
            @include marges-interieures(0px, 0px, 5%, 0px);
        }
    }

    .Fonctionnement-titre {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &_dimensions{
            @include dimensions(95%, 80px);
        }
        &_marges{
            @include marges-interieures(30px, 0px, 0px, 0px);
        }
    }

    .Balises-contour {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &_dimensions{
            @include dimensions(95%, 115px);
        }
        &:hover .balise-animation1{
            opacity: 1;
        }
        &:hover .balise-animation2{
            opacity: 0;
        }
        &:hover .balise-animation-teinte{
            opacity: 0.05;
        }
    }

    .Balises {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &_dimensions{
            @include dimensions(95%, 80px);
        }
        &_marges{
            @include marges-exterieures(0px, 0px, 4%, 2%);
        }
        &_aspect{
            border-radius: 20px;
            background-color: $gris;
            @include ombre-bords-exterieurs(darken($gris, 5%));
        }
    }

    .balise-animation-teinte {
        position: absolute;
        z-index: 2;
        transition: all 100ms; 
    
        &_dimensions {
          @include dimensions(100%, 80px);
        }
    
        &_aspect {
          border-radius: 20px;
          background-color: $rose;
          opacity: 0;
        }
    }

    .Balises-numero {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 3;
        &_dimensions{
            @include dimensions(30px, 30px);
        }
        &_aspect{
            border-radius: 50%;
            background-color: $violet;
            color: white;
        }
    }

    .Balises-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        &_dimensions{
            @include dimensions(50px, 50px);
        }
        &_marges{
            @include marges-exterieures(0px, 0px, 5%, 0px);
        }
    }

    .balise-animation1{
        position: absolute;
        z-index: 2;
        font-size: 18px;
        color: $violet;
        opacity: 0;
        transition: all 100ms;
    }

    .balise-animation2{
        position: absolute;
        z-index: 1;
        font-size: 18px;
        color: darken($gris, 45%);
        opacity: 1;
        transition: all 100ms;
    }

    .Balises-texte {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &_dimensions{
            @include dimensions(85%, 50px);
        }
    }

    /* ---- Troisième partie avec le corps de la page avec les balises "menu" ---- */

    /*-- Flexbox parent contenant l'ensemble des cartes --*/

    .Restaurants {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &_dimensions{
            @include dimensions(100%, 1400px);
        }
        &_marges{
            @include marges-interieures(50px, 70px, 20px, 5px);
        }
        &_aspect{
            background-color: $gris;
        }
    }

    /*-- Flexbox enfant contenant chacun deux cartes "Menu" --*/

    .Restaurants-portion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(92%, 620px);
        }
    }

    /*-- Gestion d'une carte "Menu" --*/

    /*On utilise les propriétés absolues et relatives pour incruster "Nouveau" dans les photos*/

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
    }

    .image-absolue{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        &_dimensions{
            @include dimensions(30%, 40px);
        }
        &_marges{
            @include marges-exterieures(0px, 140px, 50%, 0px);
        }
        &_aspect{
            color: darken($menthe, 40%);
            background-color: $menthe;
            @include ombre-bords-exterieurs(black);
        }
    }

    .image-relative{
        display: flex;
        position: relative;
        z-index: 1;
    }

    .card-image--zoom {
        @include dimensions(430px, 250px);
        object-fit: cover;
        /* On remplit le cadre défini après */
    }

    .card-image--crop {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &_dimensions{
            @include dimensions(100%, 210px);
        }
    }

    .card-article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            min-width: 200px;
            @include dimensions(100%, 85px);
        }
    }

    .card-article-texte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        &_dimensions{
            @include dimensions(200px, 75px);
        }
        &_marges{
            @include marges-interieures(0px, 0px, 10px, 0px);
        }
    }

    .card-bordure-texte {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &_dimensions{
            @include dimensions(200px, 20px);
        }
    }

    .card-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        &_dimensions{
            @include dimensions(55px, 55px);
        }
        &_aspect{
            font-size: 24px;
            font-style: normal;
            color: black;
        }
    }

    .animation-coeur{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover >.coeur1{
          opacity: 1;
        }
        &:hover >.coeur2{
          opacity: 0;
        }
    }
    
    .coeur1{
        position: absolute;
        z-index: 2;
        font-size: 24px;
        background: linear-gradient($violet, $rose);
        background-clip: text; /* Couleur du texte, ici le logo */
        color: transparent; /* le texte, ici le logo, n'est plus noir mais transparent pour laisser place à l'autre couleur */
        opacity: 0;
        transition: all 550ms;
    }
    
    .coeur2{
        position: absolute;
        z-index: 1;
        font-size: 22px;
        color: black;
        opacity: 1;
        transition: all 550ms;
    }

    /* Apparence au survol du bloque */

    a[title*="lien-menu"]

    /* Liens par défaut (non survolés) */
        {
        color: black;
        text-decoration: none;
        background-color: white;
        overflow: hidden;
        /* Enlève ce qui dépasse du texte */
    }

    a[title*="lien-menu_dimensions"]

    /* Liens par défaut (non survolés) */
        {
        min-width: 180px;
        max-width: 470px;
        @include dimensions(100%, 300px);
    }

    a[title*="lien-menu_contour"]

    /* Liens par défaut (non survolés) */
        {
        border-radius: 20px;
        @include ombre-bords-exterieurs(darken($gris, 5%));
    }

    a[title*="lien-menu"]:hover

    /* Apparence au survol des liens */
        {
        color: black;
        text-decoration: none;
        background-color: white;
        overflow: hidden;
        /* Enlève ce qui dépasse du texte */
    }

    a[title*="lien-menu_dimensions"]:hover

    /* Apparence au survol des liens */
        {
        min-width: 180px;
        max-width: 470px;
        @include dimensions(100%, 300px);
    }

    a[title*="lien-menu_contour"]:hover

    /* Apparence au survol des liens */
        {
        border-radius: 20px;
    }

    /* ---- Quatrième partie avec le pied de page ---- */

    .pied-de-page {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        &_dimensions{
            @include dimensions(100%, 250px);
        }
        &_marges{
            @include marges-interieures(0px, 0px, 30px, 0px);
        }
        &_aspect{
            background-color: darken($gris, 80%);
        }
    }

    .Couleur-logo {
        filter: invert(100%);
    }

    .pied-de-page-symbole {
        display: flex;
        justify-content: center;
        align-items: center;
        &_dimensions{
            @include dimensions(25px, 25px);
        }
    }

    .pied-de-page-texte {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        &_dimensions{
            @include dimensions(100%, 30px);
        }
        &_aspect{
            color: white;
        }
    }

    a[title*="contact"]

    /* Apparence au survol des liens */
        {
        color: white;
        text-decoration: none;
    }

    a[title*="contact"]:hover

    /* Apparence au survol des liens */
        {
        color: white;
        text-decoration: none;
    }
}