@charset "UTF-8";
@media all and (min-width: 992px) {
  /*-- Remarque: Le fichier est divisé en trois flexbox (l'en-tête, le menu et le pied de page) --*/
  /*-- La deuxième partie est une flexbox aux quatre bords arrondis --*/
  /*-- On applique la propriété flexbox relative pour faire chevaucher la deuxième partie sur l'en-tête --*/
  /*-- La flexbox de menu descend en théorie jusqu'au bas de la page web --*/
  /*-- Avec la propriété absolute, le pied de page chevauche le menu et cache les bords arrondis --*/
  /* ---- Propriétés Générales ---- */
  /*-- Les variables --*/
  /*-- Les mixins --*/
  body {
    width: auto;
    margin: auto;
  }
  /*-- La syntaxe --*/
  @import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  h1 {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: bold;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: bold;
  }
  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: normal;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  .translation1 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation2 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation3 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation4 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation5 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation6 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation7 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 1400ms;
            animation-delay: 1400ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation8 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 1600ms;
            animation-delay: 1600ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation9 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 1800ms;
            animation-delay: 1800ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation10 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 2000ms;
            animation-delay: 2000ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation11 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 2200ms;
            animation-delay: 2200ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation12 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 2400ms;
            animation-delay: 2400ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation13 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 2600ms;
            animation-delay: 2600ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation14 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 2800ms;
            animation-delay: 2800ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation15 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 3000ms;
            animation-delay: 3000ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation16 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 3200ms;
            animation-delay: 3200ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation17 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 3400ms;
            animation-delay: 3400ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  .translation18 {
    -webkit-animation: translation 500ms linear;
            animation: translation 500ms linear;
    -webkit-animation-delay: 3600ms;
            animation-delay: 3600ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  @-webkit-keyframes translation {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    50% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes translation {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    50% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  /* ---- Mise en forme de la première partie ---- */
  /*-- Organisation de l'ensemble logo/photo du menu --*/
  .en-tete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
  }
  .en-tete_dimensions {
    width: 100%;
    height: 410px;
  }
  /*-- Gestion du logo --*/
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo_dimensions {
    width: 100%;
    height: 35px;
  }
  .logo_marges {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0px;
  }
  /*-- Flèche de retour à l'acceuil --*/
  .Balise-retour {
    display: flex;
    justify-content: flex-start;
  }
  .Balise-retour_dimensions {
    width: 100%;
    height: 55px;
  }
  .Balise-fleche {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Balise-fleche_dimensions {
    width: 55px;
    height: 55px;
  }
  .Balise-fleche_aspect {
    font-size: 25px;
    color: #2a2a2a;
  }
  a[title*=lien-retour-accueil] {
    color: #2a2a2a;
    text-decoration: none;
  }
  a[title*=lien-retour-accueil]:hover {
    color: #2a2a2a;
    text-decoration: none;
  }
  /*-- Photo du menu --*/
  .image--zoom {
    width: 1520px;
    height: 1000px;
    -o-object-fit: cover;
       object-fit: cover;
    /* On remplit le cadre défini après */
  }
  .image--crop {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .image--crop_dimensions {
    width: 100%;
    height: 350px;
  }
  /*---- Mise en forme de la deuxième partie avec les balises "menu" ----*/
  /*-- Le corps de la page --*/
  .Corps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 50px;
    position: relative;
    bottom: 70px;
    row-gap: 40px;
  }
  .Corps_dimensions {
    width: 100%;
    height: 1460px;
  }
  .Corps_marges {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .Corps_aspect {
    color: black;
    background-color: #f6f6f6;
  }
  /*-- Titre du menu + symbole coeur --*/
  .Titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Titre_dimensions {
    width: 90%;
    height: 50px;
  }
  .Titre_marges {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 0px;
  }
  .Coeur {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Coeur_dimensions {
    width: 50px;
    height: 50px;
  }
  .animation-coeur {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .animation-coeur:hover > .coeur1 {
    opacity: 1;
  }
  .animation-coeur:hover > .coeur2 {
    opacity: 0;
  }
  .coeur1 {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
            background-clip: text; /* Couleur du texte, ici le logo */
    color: transparent; /* le texte, ici le logo, n'est plus noir mais transparent pour laisser place à l'autre couleur */
    opacity: 0;
    transition: all 550ms;
  }
  .coeur2 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    color: black;
    opacity: 1;
    transition: all 550ms;
  }
  /*-- Gestion de chaque encadré Entrées/Plats/Desserts --*/
  .Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .Menu_dimensions {
    width: 90%;
    height: 310px;
  }
  .Menu_marges {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /*-- Gestion des titres Entrées/Plats/Desserts --*/
  /*--- Animation des balises "plats" ----*/
  /*-- Les variables --*/
  /*-- Les mixins --*/
  /*-- Le code --*/
  .Menu-balise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer; /* le pointeur souris ressemble à une main */
  }
  .Menu-balise_dimensions {
    width: 97%;
    height: 70px;
  }
  .Menu-balise_marges {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
  }
  .Menu-balise_aspect {
    box-shadow: 0px 5px 10px #e9e9e9;
  }
  .Menu-balise:hover > .banderole {
    width: 17%; /* jouer sur cette longueur pour diminuer le texte */
  }
  .Menu-balise:hover .checking-logo1 {
    transform: rotate(360deg); /* le checking-logo1 fait une rotation de 360° à l'aller et au retour */
  }
  .Menu-balise:hover .checking-logo2 {
    opacity: 0; /* le checking-logo2 est transparent à l'aller et opaque au retour pour cacher la 2e rotation de checking-logo1 */
  }
  .Menu-texte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1; /* Le nom du menu peut adapter sa taille lors du déploiement de la check box (banderole) */
    /*On oblige le texte à ne faire qu'une ligne en cachant ce qui déborde du cadre et en ajoutant des ...*/
  }
  .Menu-texte h3, .Menu-texte h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .Menu-texte_dimensions {
    width: 65%;
    height: 50px;
  }
  .Menu-prix {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Menu-prix_dimensions {
    width: 12%;
    height: 30px;
  }
  .Menu-prix_marges {
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .Plat-titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .Plat-titre_dimensions {
    width: 100%;
    height: 25px;
  }
  .banderole {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    width: 0%;
    height: 70px;
    overflow: hidden;
    position: relative; /* fait en sorte que le check disparaisse au repli */
    transition: all 550ms; /* durée de l'aller et du retour de la translation de la banderole */
  }
  .banderole .checking-logo1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: #99e2d0;
    width: 25px;
    height: 25px;
    position: absolute; /* fait en sorte que les check 1 et 2 se superpose au centre et ne se déforme pas au déploiement */
    z-index: 1;
    transition: transform 550ms ease-in-out; /* durée de la rotation */
  }
  .banderole .checking-logo2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: #99e2d0;
    width: 25px;
    height: 25px;
    position: absolute; /* fait en sorte que les check 1 et 2 se superpose au centre et ne se déforme pas au déploiement */
    z-index: 2; /* le logo 2 sera par dessus le logo 1 */
    transition: transform 550ms ease-in-out; /* durée de l'apparition du logo */
  }
  /*-- Gestion du bouton "Commande" et de son animation --*/
  .Bouton-commande {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Bouton-commande_dimensions {
    width: 100%;
    height: 60px;
  }
  .Commande {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Commande_dimensions {
    width: 35%;
    height: 50px;
  }
  .Commande_marges {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .Commande_aspect {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
    box-shadow: 0px 5px 10px #b6b6b6;
    cursor: pointer;
  }
  .Commande:hover > .bouton-animation {
    opacity: 1;
  }
  .bouton-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    transition: all 550ms; /* durée de l'aller et du retour de la translation de la banderole */
  }
  .bouton-animation_dimensions {
    width: 35%;
    height: 50px;
  }
  .bouton-animation_aspect {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    box-shadow: 0px 5px 10px #b6b6b6;
    filter: brightness(110%);
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
    opacity: 0;
  }
  /*---- Mise en forme de la troisième partie avec le pied de page ----*/
  .pied-de-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 1650px;
    row-gap: 20px;
  }
  .pied-de-page_dimensions {
    width: 100%;
    height: 250px;
  }
  .pied-de-page_marges {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8%;
    padding-right: 0px;
  }
  .pied-de-page_aspect {
    background-color: #2a2a2a;
  }
  .Couleur-logo {
    filter: invert(100%);
  }
  .pied-de-page-symbole {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pied-de-page-symbole_dimensions {
    width: 25px;
    height: 25px;
  }
  .pied-de-page-texte {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .pied-de-page-texte_dimensions {
    width: 100%;
    height: 30px;
  }
  .pied-de-page-texte_aspect {
    color: white;
  }
  a[title*=contact] {
    color: white;
    text-decoration: none;
  }
  a[title*=contact]:hover {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=style_menu3_deskop.css.map */