/*--- Animation des balises "plats" ----*/

/*-- Les variables --*/

$violet:#9356dc;
$rose:#ff79da;
$menthe:#99e2d0;
$gris:#f6f6f6;

/*-- Les mixins --*/

@mixin dimensions($largeur, $hauteur) {
    width: $largeur; 
    height: $hauteur;
}

@mixin marges-interieures($haut, $bas, $gauche, $droite) {
    padding-top: $haut;
    padding-bottom: $bas;
    padding-left: $gauche;
    padding-right: $droite;
}

@mixin marges-exterieures($haut, $bas, $gauche, $droite) {
    margin-top: $haut;
    margin-bottom: $bas;
    margin-left: $gauche;
    margin-right: $droite;
}

@mixin ombre-bords-exterieurs($couleur) {
    box-shadow: 0px 5px 10px $couleur;
}

@mixin symbole_check {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: $menthe;
}
  
@mixin symbole_check_dimensions($diametre1, $diametre2) {
    width: $diametre1;
    height: $diametre2;
}

/*-- Le code --*/

///* Le conteneur est "Menu-balise". Il a trois enfants: Menu-texte, Menu-prix et banderole. *///
///* Il y a deux descendants dans banderole: checking-logo1 et checking-logo2 *///

.Menu-balise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;                    
    cursor: pointer; /* le pointeur souris ressemble à une main */   

    &_dimensions{
        @include dimensions(97%, 70px);
    }

    &_marges{
        @include marges-interieures(0px, 0px, 10px, 0px);
    }

    &_aspect{
        @include ombre-bords-exterieurs(darken($gris, 5%));
    }

    &:hover >.banderole {
        width: 17%;    /* jouer sur cette longueur pour diminuer le texte */  
    }
    &:hover .checking-logo1{
        transform: rotate(360deg);    /* le checking-logo1 fait une rotation de 360° à l'aller et au retour */
    }
    &:hover .checking-logo2{
        opacity: 0;                  /* le checking-logo2 est transparent à l'aller et opaque au retour pour cacher la 2e rotation de checking-logo1 */    
    }
}

.Menu-texte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1; /* Le nom du menu peut adapter sa taille lors du déploiement de la check box (banderole) */   

    /*On oblige le texte à ne faire qu'une ligne en cachant ce qui déborde du cadre et en ajoutant des ...*/

    h3, h4 {                            
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_dimensions{
        @include dimensions(65%, 50px);
    }
}

.Menu-prix {
    display: flex;
    justify-content: center;
    align-items: center;

    &_dimensions{
        @include dimensions(12%, 30px);
    }

    &_marges{
        @include marges-interieures(30px, 0px, 0px, 0px);
    }
}

.Plat-titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_dimensions{
        @include dimensions(100%, 25px);
    }
}

.banderole {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $menthe;
    width: 0%;
    height: 70px;
    overflow: hidden;
    position: relative; /* fait en sorte que le check disparaisse au repli */
    transition: all 550ms; /* durée de l'aller et du retour de la translation de la banderole */
    .checking-logo1{
      @include symbole_check;
      @include symbole_check_dimensions(25px, 25px);
      position: absolute; /* fait en sorte que les check 1 et 2 se superpose au centre et ne se déforme pas au déploiement */
      z-index: 1;
      transition: transform 550ms ease-in-out; /* durée de la rotation */
    }
    .checking-logo2{
      @include symbole_check;
      @include symbole_check_dimensions(25px, 25px);
      position: absolute; /* fait en sorte que les check 1 et 2 se superpose au centre et ne se déforme pas au déploiement */
      z-index: 2; /* le logo 2 sera par dessus le logo 1 */
      transition: transform 550ms ease-in-out; /* durée de l'apparition du logo */
    }
}