@charset "UTF-8";
/*--- Animation des balises "plats" ----*/
/*-- Les variables --*/
/*-- Les mixins --*/
/*-- Le code --*/
.Menu-balise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer; /* le pointeur souris ressemble à une main */
}
.Menu-balise_dimensions {
  width: 97%;
  height: 70px;
}
.Menu-balise_marges {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
.Menu-balise_aspect {
  box-shadow: 0px 5px 10px #e9e9e9;
}
.Menu-balise:hover > .banderole {
  width: 17%; /* jouer sur cette longueur pour diminuer le texte */
}
.Menu-balise:hover .checking-logo1 {
  transform: rotate(360deg); /* le checking-logo1 fait une rotation de 360° à l'aller et au retour */
}
.Menu-balise:hover .checking-logo2 {
  opacity: 0; /* le checking-logo2 est transparent à l'aller et opaque au retour pour cacher la 2e rotation de checking-logo1 */
}

.Menu-texte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1; /* Le nom du menu peut adapter sa taille lors du déploiement de la check box (banderole) */
  /*On oblige le texte à ne faire qu'une ligne en cachant ce qui déborde du cadre et en ajoutant des ...*/
}
.Menu-texte h3, .Menu-texte h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Menu-texte_dimensions {
  width: 65%;
  height: 50px;
}

.Menu-prix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu-prix_dimensions {
  width: 12%;
  height: 30px;
}
.Menu-prix_marges {
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.Plat-titre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Plat-titre_dimensions {
  width: 100%;
  height: 25px;
}

.banderole {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 0%;
  height: 70px;
  overflow: hidden;
  position: relative; /* fait en sorte que le check disparaisse au repli */
  transition: all 550ms; /* durée de l'aller et du retour de la translation de la banderole */
}
.banderole .checking-logo1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
  width: 25px;
  height: 25px;
  position: absolute; /* fait en sorte que les check 1 et 2 se superpose au centre et ne se déforme pas au déploiement */
  z-index: 1;
  transition: transform 550ms ease-in-out; /* durée de la rotation */
}
.banderole .checking-logo2 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
  width: 25px;
  height: 25px;
  position: absolute; /* fait en sorte que les check 1 et 2 se superpose au centre et ne se déforme pas au déploiement */
  z-index: 2; /* le logo 2 sera par dessus le logo 1 */
  transition: transform 550ms ease-in-out; /* durée de l'apparition du logo */
}/*# sourceMappingURL=balises.css.map */