.translation1 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation2 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 3400ms;
          animation-delay: 3400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation3 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation4 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 3800ms;
          animation-delay: 3800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation5 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation6 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 4200ms;
          animation-delay: 4200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation7 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 4400ms;
          animation-delay: 4400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation8 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 4600ms;
          animation-delay: 4600ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation9 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 4800ms;
          animation-delay: 4800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation10 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation11 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 5200ms;
          animation-delay: 5200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation12 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 5400ms;
          animation-delay: 5400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation13 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 5600ms;
          animation-delay: 5600ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation14 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 5800ms;
          animation-delay: 5800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation15 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation16 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 6200ms;
          animation-delay: 6200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.translation17 {
  -webkit-animation: translation 500ms linear;
          animation: translation 500ms linear;
  -webkit-animation-delay: 6400ms;
          animation-delay: 6400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes translation {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes translation {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=translations_accueil.css.map */