/*--- Animation du chargement ----*/

/*-- Les variables --*/

$diametre: 10px;
$temps: 2000ms;
$rayon_trajectoire: -50px;
$acceleration: cubic-bezier(.14,.56,.98,.44);
$nombre_de_ronds: 19;
$pas_retard_temporel: 100ms;
$nombre_etapes: 10;
$pas_pourcentage: 10%;
$pas_angle: 36deg;
$pas_agradissement: 0.2;
$numero_point_median: 5;

/*-- Les mixins --*/

@mixin rond {
    position: absolute;
    height: $diametre;
    width: $diametre;
    border-radius: 50%;
    border: 1px black solid;
    background-color: black;  
}

@mixin animation_circulaire($duree, $retard) {
    animation: circulaire $duree linear infinite;
    animation-delay: $retard;
    animation-fill-mode: backwards;  
}

/*-- Cadre d'ensemble logo + loader --*/

.acceuil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 200px;
    row-gap: 30px;

    background-color: white;
    width: 100%;
    height: auto;
    position: absolute; /* Pour que le loader se mette par dessus le menu d'accueil */

    animation: opacite 3000ms linear;
    animation-fill-mode: backwards; 
}

/*-- Disparition du loader en fondu --*/

/*.page{
    animation: opacite 3000ms linear;
    animation-fill-mode: forwards;

    @keyframes opacite{
        0%{
            opacity: 1;
        }
    
        95%{
            opacity: 1;
        }
    
        100%{
            opacity: 0;
        }
    }
}*/

/*-- Cadre du loader --*/

.trajectoire{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

/*-- Déclaration des ronds du loader --*/

@for $i from 0 through $nombre_de_ronds{
    .rond#{$i}{
        @include rond;
        @include animation_circulaire($temps, $i*$pas_retard_temporel);
    }
}

/*-- Déclaration du keyframe pour la rotation/translation/variation de taille de ronds --*/

@keyframes circulaire{
    $i:0;
    @for $i from 0 through 10{
        #{$i*$pas_pourcentage}{
            @if($i<=5){
                transform: rotate($i*$pas_angle)translateX($rayon_trajectoire)scale($i*$pas_agradissement);
            }@else{
                transform: rotate($i*$pas_angle)translateX($rayon_trajectoire)scale(2-($i*$pas_agradissement));
            }
        }
    } 
}

@keyframes opacite{
    0%{
        position: absolute;
        z-index: 3;
        opacity: 1;
    }

    95%{
        position: absolute;
        z-index: 3;
        opacity: 1;
    }

    100%{
        position: absolute;
        z-index: 3;
        opacity: 0;
    }
}