@media all and (max-width: 767px) {

    /*-- Remarque: Le fichier est divisé en trois flexbox (l'en-tête, le menu et le pied de page) --*/
    /*-- La deuxième partie est une flexbox aux quatre bords arrondis --*/
    /*-- On applique la propriété flexbox relative pour faire chevaucher la deuxième partie sur l'en-tête --*/
    /*-- La flexbox de menu descend en théorie jusqu'au bas de la page web --*/
    /*-- Avec la propriété absolute, le pied de page chevauche le menu et cache les bords arrondis --*/

    /* ---- Propriétés Générales ---- */

    /*-- Les variables --*/

    $violet:#9356dc;
    $rose:#ff79da;
    $menthe:#99e2d0;
    $gris:#f6f6f6;

    /*-- Les mixins --*/

    @mixin syntaxe-roboto($taille, $type) {
        font-family: 'Roboto', sans-serif;
        font-size: $taille;
        font-weight: $type;
    }

    @mixin syntaxe-shrikhand($taille, $type) {
        font-family: 'Shrikhand', cursive;
        font-size: $taille;
        font-weight: $type;
    }

    @mixin dimensions($largeur, $hauteur) {
        width: $largeur; 
        height: $hauteur;
    }

    @mixin marges-interieures($haut, $bas, $gauche, $droite) {
        padding-top: $haut;
        padding-bottom: $bas;
        padding-left: $gauche;
        padding-right: $droite;
    }

    @mixin marges-exterieures($haut, $bas, $gauche, $droite) {
        margin-top: $haut;
        margin-bottom: $bas;
        margin-left: $gauche;
        margin-right: $droite;
    }

    @mixin ombre-bords-exterieurs($couleur) {
        box-shadow: 0px 5px 10px $couleur;
    }

    body{
		width: auto;
		margin: auto;
	}

    /*-- La syntaxe --*/

    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    h1 {
        @include syntaxe-shrikhand(28px, bold);
    }

    h2 {
        @include syntaxe-roboto(20px, normal);
    }

    h3 {
        @include syntaxe-roboto(19px, bold);
    }

    h4 {
        @include syntaxe-roboto(17px, normal);
    }

    h5 {
        @include syntaxe-roboto(14px, bold);
    }

    h6 {
        @include syntaxe-roboto(16px, normal);
    }

    @import "animations/translations_menu1";


    /* ---- Mise en forme de la première partie ---- */


    /*-- Organisation de l'ensemble logo/photo du menu --*/

    .en-tete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;

        &_dimensions {
            @include dimensions(100%, 410px);
        }
    }

    /*-- Gestion du logo --*/

    .logo {
        display: flex;
        justify-content: center;

        &_dimensions {
            @include dimensions(100%, 35px);
        }

        &_marges {
            @include marges-interieures(10px, 10px, 10px, 0px);
        }
    }

    /*-- Flèche de retour à l'acceuil --*/

    .Balise-retour {
        display: flex;
        justify-content: flex-start;

        &_dimensions {
            @include dimensions(100%, 55px);
        }
    }

    .Balise-fleche {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(55px, 55px);
        }

        &_aspect {
            font-size: 25px;
            color: darken($gris, 80%);
        }
    }

    a[title*="lien-retour-accueil"]
        {
            color: darken($gris, 80%);
            text-decoration: none;
    }

    a[title*="lien-retour-accueil"]:hover
        {
            color: darken($gris, 80%);
            text-decoration: none;
    }

    /*-- Photo du menu --*/

    .image--zoom {
        @include dimensions(650px, 500px);
        object-fit: cover;
        /* On remplit le cadre défini après */
    }

    .image--crop {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &_dimensions {
            @include dimensions(100%, 350px);
        }
    }

    /*---- Mise en forme de la deuxième partie avec les balises "menu" ----*/


    /*-- Le corps de la page --*/

    .Corps {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 50px;
        position: relative;
        bottom: 70px;
        row-gap: 40px;

        &_dimensions {
            @include dimensions(100%, 1510px);
        }

        &_marges{
            @include marges-interieures(20px, 0px, 0px, 0px);
        }

        &_aspect {
            color: black;
            background-color: $gris;
        }
    }

    /*-- Titre du menu + symbole coeur --*/

    .Titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_dimensions {
            @include dimensions(90%, 50px);
        }
        &_marges {
            @include marges-interieures(0px, 0px, 20px, 0px);
        }
    }

    .Coeur {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(50px, 50px);
        }
    }

    .animation-coeur{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover >.coeur1{
          opacity: 1;
        }
        &:hover >.coeur2{
          opacity: 0;
        }
    }
    
    .coeur1{
        position: absolute;
        z-index: 2;
        font-size: 24px;
        background: linear-gradient($violet, $rose);
        background-clip: text; /* Couleur du texte, ici le logo */
        color: transparent; /* le texte, ici le logo, n'est plus noir mais transparent pour laisser place à l'autre couleur */
        opacity: 0;
        transition: all 550ms;
    }
    
    .coeur2{
        position: absolute;
        z-index: 1;
        font-size: 22px;
        color: black;
        opacity: 1;
        transition: all 550ms;
    }

    /*-- Gestion de chaque encadré Entrées/Plats/Desserts --*/

    .Menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &_dimensions{
            @include dimensions(90%, 310px);
        }

        &_marges{
            @include marges-interieures(0px, 0px, 5%, 5%);
        }
    }

    /*-- Gestion des titres Entrées/Plats/Desserts --*/

    .Menu-titre {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 3px $menthe solid;

        &_dimensions{
            @include dimensions(55px, 30px);
        }
    }

    /*-- Gestion des balises "plats" avec leur animation --*/

    @import "animations/balises";

    /*-- Gestion du bouton "Commande" et de son animation --*/

    .Bouton-commande {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions{
            @include dimensions(100%, 60px);
        }
    }

    .Commande {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(45%, 50px);
        }

        &_marges {
            @include marges-exterieures(30px, 0px, 0px, 0px);
        }

        &_aspect {
            @include syntaxe-roboto(18px, bold);
            color: white;
            border-radius: 100px;
            background: linear-gradient(to bottom right, $rose, $violet);
            @include ombre-bords-exterieurs(darken($gris, 25%));
            cursor: pointer;
        }

        &:hover >.bouton-animation { 
            opacity: 1;
        } 
    }

    .bouton-animation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        transition: all 550ms; /* durée de l'aller et du retour de la translation de la banderole */
    
        &_dimensions {
          @include dimensions(45%, 50px);
        }
    
        &_aspect {
          @include syntaxe-roboto(18px, bold);
          color: white;
          border-radius: 100px;
          @include ombre-bords-exterieurs(darken($gris, 25%));
          filter: brightness(110%);
          background: linear-gradient(to bottom right, $rose, $violet);
          opacity: 0;
        }
    }

    /*---- Mise en forme de la troisième partie avec le pied de page ----*/

    .pied-de-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 1700px;
        row-gap: 20px;

        &_dimensions {
            @include dimensions(100%, 250px);
        }

        &_marges {
            @include marges-interieures(0px, 0px, 8%, 0px);
        }

        &_aspect {
            background-color: darken($gris, 80%);
        }
    }

    .Couleur-logo {
        filter: invert(100%);
    }

    .pied-de-page-symbole {
        display: flex;
        justify-content: center;
        align-items: center;

        &_dimensions {
            @include dimensions(25px, 25px);
        }
    }

    .pied-de-page-texte {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;

        &_dimensions {
            @include dimensions(100%, 30px);
        }

        &_aspect {
            color: white;
        }
    }

    a[title*="contact"]

    /* Apparence au survol des liens */
        {
        color: white;
        text-decoration: none;
    }

    a[title*="contact"]:hover

    /* Apparence au survol des liens */
        {
        color: white;
        text-decoration: none;
    }
}